<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoIntegradorII</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/logueado.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/encontrarcoach.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoIntegradorII.styles.css" asp-append-version="true" />
</head>
<body class="bodyencontrarcoach">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(48,48,48,0.5);">
            
                <a style="padding-left: 20px;" class="navbar-brand text-white" style="font-family: lemon;" asp-area="" asp-controller="Acceso" asp-action="Logueado">@ViewBag.usuario</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ms-auto mb-2 mb-lg-0" style="padding-right: 30px;">
                        <li class="nav-item">
                            <a class="nav-link text-danger" style="font-family: lemon; text-shadow: black 0.1em 0.1em 0.2em;" asp-area="" asp-controller="Coach" asp-action="EncontrarCoach">Encontrar un coach</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="font-family: lemon; text-shadow: black 0.1em 0.1em 0.2em;" asp-area="" asp-controller="Acceso" asp-action="Login">Login</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Acceso" asp-action="CerrarSesion">CerrarSesion</a>
                        </li>*@
                    </ul>
                </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="main-coach">

            <!-- Modal -->

            <div class="modal fade" id="myModalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Aviso!</h5>
                  </div>
                  <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                    ...
                  </div>
                  <div class="modal-footer justify-content-between" style="text-align: center;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
              
    function cerrarModal() {
        $('.modal').remove();
        $('.modal-backdrop').remove();
        $('body').removeClass( "modal-open" );
        
    }
    
</script>
<script>

    let toggle = button => {
    let element = document.getElementById("mydiv");
    let hidden = element.getAttribute("hidden");

        if (hidden) {
           element.removeAttribute("hidden");
        } else {
           element.setAttribute("hidden", "hidden");
            $('.modal').remove();
            $('.modal-backdrop').remove();
            $('body').removeClass( "modal-open" );
        }
    }

</script>

